@if (article) {
<mat-card class="card-article">
    <mat-card-header class="card-header">
        <div mat-card-avatar class="card-avatar"></div>
        <mat-card-title-group>
            <mat-card-title>{{article.nom}}</mat-card-title>
            @if (article.prix) {
            <mat-card-subtitle>{{article.prix.toFixed(2)}} &#x20AC;</mat-card-subtitle>
            }
            @else {
            <mat-card-subtitle>Aucun Prix</mat-card-subtitle>
            }
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{article.description}}
    </mat-card-content>
    <mat-card-content class="card-img">
        @if (article.image) {
        <img class = "imgCard" mat-card-lg-image src={{article.image}}>
        }
        @else {
        <img class = "imgCard" mat-card-lg-image src="../../../assets/no-image.png">
        }
    </mat-card-content>
</mat-card>
}