.card-article {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.card-avatar {
  background-image: url('../../../assets/shop-icon.png');
  background-size: cover;
  display: flex;
  justify-content: right;
  border: 1px solid black
}

.photoImg {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: right;
}